/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light gray background */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* Container to hold everything */
.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}
  
/* Logo */
.logo {
    width: 150px; /* Adjust logo size */
    margin-bottom: 20px;
}
  
/* Content */
.content {
    margin-top: 20px;
}
  
/* Headings */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffa163; /* Vitally's brand color */
}
  
/* Button Styles */
.btn {
    padding: 10px 20px;
    background-color: #8438ff; /* Vitally blue color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
  
/* Button hover effect */
.btn:hover {
    background-color: #ffa163; /* Slightly darker blue */
}
  
/* Input Field */
.input-field {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 70%;
    font-size: 16px;
    margin-top: 10px;
}
  
/* Form Group */
.form-group {
    margin-bottom: 20px;
}
  
/* Link Styles */
a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

/* Error message styling */
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
    display: none; /* Hidden by default */
}